{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "docs"}]}.
{profiles,
 [{test,
   % Include tests in dialyzer runs
   [{plugins, [coveralls]},
    {cover_enabled, true},
    {cover_export_enabled, true},
    {coveralls_coverdata, "_build/test/cover/eunit.coverdata"},
    {coveralls_service_name, "travis-ci"},
    {erl_opts, [debug_info,
		{extra_src_dirs, ["src", "test"]}]},
    {dialyzer, [{plt_extra_mods, [eresp_coding_test]}]}
   ]}
 ]}.
{deps, []}.
