{erl_opts, [debug_info]}.
{edoc_opts, [{dir, "docs"}]}.
{profiles,
 [{test,
   % Include tests in dialyzer runs
   [{cover_enabled, true},
    {cover_export_enabled, true},
    {erl_opts, [debug_info,
		{extra_src_dirs, ["src", "test"]}]},
    {dialyzer, [{plt_extra_mods, [eresp_coding_test]}]}
   ]}
 ]}.
{deps, []}.
